# macOS
.DS_Store

# Xcode
*.xcworkspace
xcuserdata/
DerivedData/
*.xcodeproj
build/
*.xcarchive
*.dmg

# Swift Package Manager
.build/
Package.resolved
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# Misc
*.swp
*.swo
